
<div class="bolbol-conatiner">
  <span class="bolbol"> Hey! I'm AnyTrip. I'll get you an awesome insurance plan in seconds. Ready to go?</span>
</div>

<mat-card class="login-container">
    <mat-card-content>
      <form class="login-form">
        <mat-form-field class="full-width">
          <input name="email" matInput placeholder="Email" [(ngModel)]="email">
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="start()">LET'S GO</button>
      </form>
    </mat-card-content>
  </mat-card>
  