.login-container {
    padding: 50px;
    text-align: center;
    margin-top: 25px;
}

mat-card-content {
    margin-top: 25px;
    text-align: center;
}

.login-form {
    text-align: center;
    margin-top: 25px;  
    min-width: 150px;
    max-width: 500px;
}

.full-width {
    width: 75%;
}

.mat-primary {
    margin-top: 25px;
}