
<div class="bolbol-conatiner">
  <span class="bolbol">Travel Insurance, Made Just For You.</span>
  <p>We believe one size does not fit all. Get a personalized insurance plan for your leisure or business trip in seconds. No forms, no wait, not hassle.</p>
</div>

<!-- <div class="process-container">
  <div class="process-item">
    <img class="process-img" src="assets/step-1.png" />
    <h4>Register</h4>
    <p>Just tell us your email to get started. We'll get the rest of the details later</p>
  </div>
  <div class="process-item">
    <img class="process-img" src="assets/step-2.png" />
    <h4>Forward Your Reservations</h4>
    <p>Mail us everything you think we need to know about your trip: flights, hotels, events, concerts and sport activities</p>
  </div>
  <div class="process-item">
    <img class="process-img" src="assets/step-3.png" />
    <h4>Get a Quote</h4>
    <p>We'll give you a quote for an insurance plan just for you. You can stick with the basics or add extra coverage for the things you care about</p>
  </div>
</div> -->

<mat-card class="login-container">
    <img class="airplane" src="assets/airplane.png" />
    <mat-card-content>
      <form class="login-form">
        <mat-form-field class="full-width">
          <input name="email" matInput placeholder="Email" [(ngModel)]="email">
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="start()">LET'S GO</button>
      </form>
    </mat-card-content>
  </mat-card>
  