.add-trip-container {
    padding: 50px;
    text-align: center;
    margin-top: 25px;
}

.loader-container {
    margin-top: 50px;
    position: relative;
}

mat-card-content {
    padding-top: 25px;
}



.login-container {
    padding-top: 30px;
    text-align: center;
    text-align: center;
    width: 350px;
    height: 140px;
    margin: 0 auto;
  }
  
  mat-card-content {
    margin-top: 25px;
    text-align: center;
  }
  
  .login-form {
    text-align: center;
    margin-top: 25px;
    min-width: 150px;
    /* max-width: 500px; */
  }
  
  .full-width {
    margin-right: 15px;
  }
  
  .mat-primary {
    margin-top: 25px;
  }
  
  .bolbol-conatiner {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 25px;
    text-align: center;
  }
  
  .bolbol {
    font: 400 30px/50px 'Raleway', sans-serif;
    /* font-weight: 600; */
    color: #4a4a4a;
    /* padding: 0 0 60px 0; */
    max-width: 760px;
    white-space: pre-wrap;
  }
  

  .strong {
      color: black;
      font-weight: bolder;
  }

  .sub-text {
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      font-size: 11pt;
      color: #666666;

  }
  
  .email-types {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .type {

  }

  .email-type-title {
    text-align: center;
  }

  .type-img {
    margin-bottom: 15px;

  }