
  <div class="bolbol-conatiner">
    <span class="bolbol"> Forward your reservations to <strong class="strong">insure@anytrip.in</strong></span>
  </div>


  <div class="login-container loader-container">
    <app-loader [loading]="isLoading"></app-loader>
    <!-- <div class="sub-text" *ngIf="isLoading">Waiting for your mail</div> -->
</div>

<div class="email-types">
    <div class="email-type-title">
      <img class="type-img" src="assets/airplane-type.png"/>
      <h4>Flights</h4>
    </div>
    <div class="email-type-title">
      <img class="type-img" src="assets/hotel-type.png" />
      <h4>Hotels</h4>
    </div>
    <div class="email-type-title">
      <img class="type-img" src="assets/car-type.png" />
      <h4>Rental Cars</h4>
    </div>
    <div class="email-type-title">
      <img class="type-img" src="assets/event-type.png" />
      <h4>Events</h4>
    </div>
  </div>
