
  <div class="bolbol-conatiner">
    <span class="bolbol"> Forward your trip reservation email to <strong class="strong">insure@anytrip.in</strong> We'll take it from there </span>
  </div>


  <div class="login-container loader-container">
    <app-loader [loading]="isLoading"></app-loader>
    <div class="sub-text" *ngIf="isLoading">Waiting for your mail</div>
</div>
  
  <!-- <mat-card class="login-container">
      <mat-card-content>
        <form class="login-form">
            <div class="loader-container">
                <app-loader [loading]="isLoading"></app-loader>
            </div>
            
        </form>
      </mat-card-content>
    </mat-card>
     -->