<!-- Header goes here -->

<div class="container">
    <header>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                
                <img  class="logo" src="../assets/Design.png" alt="logo">

                <span class="example-fill-remaining-space">AnyTrip</span>
                <span class="align-center"></span>
                <span class="example-spacer"></span>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>
    <nav></nav>
    <main><router-outlet></router-outlet></main>
    <aside></aside>
    <footer></footer>
</div>
<!-- footer goes here -->