h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

.option-margin {
  margin: 5px 10px;
  display: block;
}

.component-header {
  /* line-height: 30px; */
}

.unit-price {
  color: #663AB7;
  padding-top: 7px;
}

.component-header mat-icon {
  margin-right: 10px;
}

mat-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-icon {
  color: #FFD73F;
}

.mat-expansion-panel {
  margin-bottom: 10px;
  width: 100%;
  max-width: 450px;
}

mat-accordion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.footer-date {
  align-self: center;
  width: 100%;
}

.checkout-footer {
  height: 60px;
  width: 100%;
  position: fixed;
  opacity: 0.95;
  background-color: #673ab7;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  z-index: 9999999999;
}

.total-price {
  font-size: 24pt;
  font-family: sans-serif;
  padding: 15px;
}

.checkout-container {
  display: flex;
  direction: row;
  justify-content: space-between;
  width: 100%;
  border-right: transparent 1px solid;
  border-left: transparent 1px solid;
}

@media (min-width: 768px) {
  .checkout-footer {
    height: 60px;
    width: 100%;
    position: fixed;
    opacity: 0.95;
    background-color: #673ab7;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
  }

  .checkout-container {
    display: flex;
    direction: row;
    justify-content: space-between;
    width: 450px;
    border-right: #8056c7 1px solid;
    border-left: #8056c7 1px solid;
  }
}
.policy-name {
  font-size: 0.8em !important;
}
.nowrap-motherfucker {
  white-space: inherit !important;
  font-size: 0.7em !important;
}

h5 {
  font-weight: 600 !important;
}

.tooltick {
  transform: translateY(3px);
  font-size: 12pt;
  color: rgb(168, 168, 168);
}

mat-list-item {
  /* margin-bottom: 10px; */
}

h5 {
  font-size: 0.8em;
}

.mat-line.p {
  font-size: inherit !important;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-subtitle {
  color: grey;
  font-size: 0.7em;
  line-height: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

.smaller {
  font-size: 0.8em;
}