
h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

.option-margin {
  margin: 5px 10px;
  display: block;
}

.component-header {
    line-height: 30px;
}

.unit-price {
  color: green;
  padding-top: 7px;
}

.component-header mat-icon {
  margin-right: 10px;
}

.mat-expansion-panel {
    margin-bottom: 10px;
    width:100%;
    max-width: 450px;
}

mat-accordion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.footer-date {
    align-self: center;
width: 100%;
}

.checkout-footer {
    height: 60px;
    width: 100%;
    position: fixed;
    opacity: 0.95;
    background-color:#673ab7;
    left: 0;
    bottom: 0;
    display: flex;
flex-direction: row;
    justify-content: flex-end;
    color:white;
}

.total-price {
    font-size: 24pt;
    font-family: sans-serif;
    padding: 15px;
}