
h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

.option-margin {
  margin: 0px 10px;
}

.component-header {
    line-height: 30px;
}

.unit-price {
  color: green;
}

.component-header mat-icon {
  margin-right: 10px;
}
