<mat-accordion [@listAnimation]="components.length">
  <mat-expansion-panel *ngFor="let component of components;  let i = index" [expanded]="step === i" (opened)="setStep(i)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="component-header">
        <!-- icons  -->
        <mat-icon *ngIf="component.type == 'flight'">
          flight
        </mat-icon>
        <mat-icon *ngIf="component.type == 'hotel'">
          hotel
        </mat-icon>
        <mat-icon *ngIf="component.type == 'car rental'">
          directions_car
        </mat-icon>
        <strong>
          {{component.provider}}
        </strong>
      </mat-panel-title>

      <span class="unit-price">0.0$</span>
    </mat-expansion-panel-header>



    <mat-list>
      <h3 mat-subheader>Policies</h3>
      <mat-list-item *ngFor="let policy of component.policies">
        <mat-slide-toggle class="option-margin"></mat-slide-toggle>
        <h5 mat-line ><strong>{{policy.name}} <mat-icon class="tooltick" matTooltip="Compensation Ceiling: {{policy.compensation_ceiling}}" matTooltipPosition="above">info_outline</mat-icon></strong></h5>
        <p mat-line class="nowrap-motherfucker"><small> {{policy.description}} </small></p>
      </mat-list-item>
    </mat-list>



    <mat-action-row>
      <span class="footer-date">{{component.start_date}}</span>
      <button mat-button color="warn" (click)="prevStep()">Back</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>

<div class="checkout-footer">
  <div class="checkout-container">
    <div class="total-price">{{totalPrice}} $</div>
    <button mat-raised-button color="accent" (click)="finish()"> Checkout </button>
  </div>
</div>