<mat-accordion [@listAnimation]="components.length">
  <mat-expansion-panel *ngFor="let component of components;  let i = index" [expanded]="step === i" (opened)="setStep(i)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="component-header">
        <!-- icons  -->
        <mat-icon *ngIf="component.type == 'Flight'">
          flight
        </mat-icon>
        <mat-icon *ngIf="component.type == 'Hotel'">
          hotel
        </mat-icon>
        <mat-icon *ngIf="component.type == 'Car Rental'">
          directions_car
        </mat-icon>
        <strong>
          {{component.provider}}
        </strong>
      </mat-panel-title>

      <span class="unit-price">0.0$</span>
    </mat-expansion-panel-header>



    <mat-checkbox class="option-margin"> Luggage loss coverage</mat-checkbox>
    <mat-checkbox class="option-margin">Ticket cancellation</mat-checkbox>
    <mat-checkbox class="option-margin">Delay compensation</mat-checkbox>

    <mat-action-row>
      <span class="footer-date">{{component.start_date}}</span>
      <button mat-button color="warn" (click)="prevStep()">Back</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>

<div class="checkout-footer">
  <div class="checkout-container">
    <div class="total-price">{{totalPrice}} $</div>
    <button mat-raised-button color="accent" (click)="finish()"> Checkout </button>
  </div>
</div>